
@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #111827;
}

/* @theme {
  --font-sans: 'Inter', system-ui, sans-serif;
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family is handled by next/font/google in layout.tsx */
}
